
<h4>Value of properties used for PSD2 workflow</h4>
<hr>

<ul class="list-group">
    <li class="list-group-item">
      <h5 class="list-group-item-heading">Grant Code</h5>
      <p class="list-group-item-text">{{grantCode}}</p>
    </li>
    <li class="list-group-item">
        <h5 class="list-group-item-heading">Access token</h5>
        <p class="list-group-item-text">{{accessToken}}</p>
    </li>
    <li class="list-group-item">
        <h5 class="list-group-item-heading">Id token</h5>
        <p class="list-group-item-text">{{idToken}}</p>
    </li>
    <li class="list-group-item">
        <h5 class="list-group-item-heading">Scope</h5>
        <p class="list-group-item-text">{{scope}}</p>
    </li>
    <li class="list-group-item">
        <h5 class="list-group-item-heading">Expire In</h5>
        <p class="list-group-item-text">{{expire_in}}</p>
    </li>
    <li class="list-group-item">
        <h5 class="list-group-item-heading">Client id</h5>
        <p class="list-group-item-text">{{clientid}}</p>
    </li>
    <li class="list-group-item">
        <h5 class="list-group-item-heading">Client Secret</h5>
        <p class="list-group-item-text">{{clientsecret}}</p>
    </li>
    <li class="list-group-item">
        <h5 class="list-group-item-heading">Redirect URI</h5>
        <p class="list-group-item-text">{{redirectUri}}</p>
    </li>
    <li class="list-group-item">
        <h5 class="list-group-item-heading">Apic Endpoint</h5>
        <p class="list-group-item-text">{{apicEndpoint}}</p>
    </li>
    <li class="list-group-item">
        <h5 class="list-group-item-heading">Web App Version</h5>
        <p class="list-group-item-text">{{webappversion}}</p>
    </li>
</ul>
